{% extends 'base/base.html' %}
{% load static %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - кружки Робототехники, Программирования и Химии детям{% endblock title %}

{% block tags %}
<meta name="description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
<meta name="keywords"
    content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
<meta name="author" content="dobriy_zhuk" />
<meta property="og:title"
    content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей" />
<meta property="og:description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей" />
<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}

        <section class="ftco-section">
    	<div class="container">
    		<div class="row mt-5">
          <div class="col-md-7 text-left heading-section ftco-animate">
            <h2 class="">Все уроки <a class="btn btn-danger btn-sm" href="{% url 'new_lesson' %}">Добавить</a></h2>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="filterBranch">Филиал</label>
                <select onchange="filterParams()" class="custom-select" id="filterBranch">
                    {% for branch in branches %}
                    <option value="{{ branch.id }}" {% if request.GET.branch|slugify == branch.id|slugify %} selected {% endif %}>{{ branch }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="filterFinished">Состояние уроков</label>
                <select onchange="filterParams()" class="custom-select" id="filterFinished">
                    <option value="False" {% if request.GET.finished == "False" %} selected {% endif %}>Незавершенные</option>
                    <option value="True" {% if request.GET.finished == "True" %} selected {% endif %}>Завершенные</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="filterTeacher">Учитель</label>
                <select onchange="filterParams()" class="custom-select" id="filterTeacher">
                    <option value="0" {% if request.GET.teacher == 0 %} selected {% endif %}>Все</option>
                    <{% for teacher in teachers %}
                    <option value="{{ teacher.id }}" {% if request.GET.teacher|slugify == teacher.id|slugify %} selected {% endif %}>{{ teacher }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="filterPeriod">Период</label>
                <select onchange="filterParams()" class="custom-select" id="filterPeriod">
                    <option value="False" selected>Январь 2021</option>
                    <option value="True">Завершенные</option>
                </select>
            </div>
        </div>

    		<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="table-responsive">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr>
						        <th>Наименование</th>
						        <th>Дата</th>
						        <th>Ученики</th>
						        <th>Учитель</th>
                                <th>Тема урока</th>
						        <th>ДЗ</th>
						        <th>Ссылка</th>
                                <th>Запись</th>
						      </tr>
						    </thead>
						    <tbody>
                            {% for lesson in lessons %}
                                <tr>
                                    <td class="color">{{ lesson.name }}</td>
						        <td>{{ lesson.start }}</td>
						        <td>{% for student in lesson.students.all %}
                                    {{ student }}<br>
                                {% endfor %}
                                </td>
						        <td>{% for teacher in lesson.teacher.all %}
                                    {{ teacher }}<br>
                                {% endfor %}
                                </td>
                                <td>{{ lesson.module.title }}</td>
						        <td>{{ lesson.homework }}</td>
						        <td>
                                    {% if lesson.finished %}
                                        <p>Урок проведен</p>
                                    {% else %}
                                        <a href="{% url 'current_lesson' pk=lesson.pk %}" target="_blank" class="btn btn-primary btn-sm" >Перейти</a>
                                    {% endif %}
                                </td>
                                <td></td>
                                <td>
                                    <a class="btn btn-dark btn-sm" href="{% url 'edit_lesson' pk=lesson.pk %}"><span class="icon-pencil"></span></a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'remove_lesson' pk=lesson.pk %}"><span class="icon-remove"></span></a>
                                </td>
						      </tr>
                        {% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
            {% if lessons.has_other_pages %}
              <ul>
                  {% if lessons.has_previous %}
                    <li><a href="?page={{ lessons.previous_page_number }}">&lt;</a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
                  {% for i in lessons.paginator.page_range %}
                      {% if lessons.number > 3 and forloop.first %}
                        <li><a href="?page=1">1</a></li>
                        <li class="disabled">⋯</li>
                      {% endif %}
                    {% if lessons.number == i %}
                        <li class="active"><span>{{ i }}</span></li>
                    {% elif i > lessons.number|add:'-3' and i < lessons.number|add:'3' %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% if lessons.paginator.num_pages > lessons.number|add:'3' and forloop.last %}
                        <li class="disabled">⋯</li>
                        <li><a href="?page={{ lessons.paginator.num_pages }}">{{ lessons.paginator.num_pages }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if lessons.has_next %}
                    <li><a href="?page={{ lessons.next_page_number }}">></a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
              </ul>
            {% endif %}
            </div>
          </div>
        </div>
    	</div>
    </section>

<script>
function filterParams() {
    finished = document.getElementById("filterFinished").value;
    teacher = document.getElementById("filterTeacher").value;
    branch = document.getElementById("filterBranch").value;

    var url = new URL(window.location.href + "?finished=False");
    url.searchParams.set('finished', finished);
    url.searchParams.set('teacher', teacher);
    url.searchParams.set('branch', branch);

    window.location.replace(url);

}
</script>

{% endblock %}