{% extends 'base/base.html' %}
{% load static %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - кружки Робототехники, Программирования и Химии детям{% endblock title %}

{% block tags %}
<meta name="description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
<meta name="keywords"
    content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
<meta name="author" content="dobriy_zhuk" />
<meta property="og:title"
    content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей" />
<meta property="og:description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей" />
<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}

        <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-3 mt-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-3">Создание нового урока</h2>
            <p>Внимательно вносите информацию по уроку</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12 ftco-animate">
                <form method='POST' enctype="multipart/form-data">
                       <div id="result_div_id"></div>
                      {% csrf_token %}
                      {% for field in lesson_form %}
                          <p>{% if field.help_text %}</p>
                      <small style="color: grey">{{ field.help_text }}</small><br>
                        {% endif %}
                        {{ field }}
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        {% endfor %}
                        <div class="form-group">
                            <small style="color: grey">Дата последнего занятия</small><br>
                            <input name="lesson_end" id="lesson_end" class="datefield">
                        </div>
                        <div class="form-group">
                            <label for="lesson_frequency">Частота занятий</label>
                            <select class="form-control" name="lesson_frequency">
                                <option value="every_day">Каждый день</option>
                                <option value="every_week">Каждую неделю</option>
                            </select>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary py-3 px-5" type="submit">Добавить</button>
                      </div>
                    </form>


<script>
    function create_lesson(){

    $.ajax({
        type:'POST',
        url:'{% url "new_lesson" %}',
        headers: { "X-CSRFToken": getCookie("csrftoken") },
        dataType: 'json',
        data: JSON.stringify({
            "title": $('#title').val(),
            "students": $('#choices-multiple-remove-student').val(),
            "subject": $('#subject-select').val(),
            "teachers": $('#choices-multiple-remove-teacher').val(),
            "start": new Date(yearSelect.value, monthSelect.value, daySelect.value, hourSelect.value, minuteSelect.value, 0, 0),
            "end": new Date(yearSelectLast.value, monthSelectLast.value, daySelectLast.value, 23, 59, 59, 0),
            "duration": $('#duration').val(),
            "frequency": $('#frequency').val()
        }),
        contentType: 'application/json; charset=utf-8',
        success:function(json){
            //document.getElementById("post-form").reset();
            alert(json.result);
        },
        error : function(xhr,errmsg,err) {
            alert("ERROR");
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });

    function getCookie(c_name)
    {
        if (document.cookie.length > 0)
        {
            c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1)
            {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
    }
    return "";
 }
}
</script>
    			</div>
    		</div>
    	</div>
    </section>


    <section class="ftco-section ftco-partner">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="images/partner-1.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="images/partner-2.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="images/partner-3.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="images/partner-4.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="images/partner-5.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    		</div>
    	</div>
    </section>


<link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006273/BBBootstrap/choices.min.js?version=7.0.0"></script>
<script>


 var choices10 = new Choices('.choices-10', {
 removeItemButton: true,
 maxItemCount:10,
 searchResultLimit:10,
 renderChoiceLimit:10
 });


 var choices1 = new Choices('.choices-1', {
 removeItemButton: true,
 maxItemCount:1,
 searchResultLimit:1,
 renderChoiceLimit:5
 });


</script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    // This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
    window.addEventListener("DOMContentLoaded", function () {
        flatpickr(".datetimefield", {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            time_24hr: true
        });
    });

       window.addEventListener("DOMContentLoaded", function () {
        flatpickr(".datefield", {
            dateFormat: "Y-m-d"
        });
    });
</script>

{% endblock %}