{% extends 'base/base.html' %}
{% load static %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - кружки Робототехники, Программирования и Химии детям{% endblock title %}

{% block tags %}
<meta name="description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
<meta name="keywords"
    content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
<meta name="author" content="dobriy_zhuk" />
<meta property="og:title"
    content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей" />
<meta property="og:description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей" />
<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}

<section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mt-5">Все задачи <a class="btn btn-danger btn-sm" href="{% url 'new_task' %}">Добавить</a></h2>
          </div>
    		</div>
    		<div class="row">
          <div class="col-md-12 nav-link-wrap mb-5 pb-md-5 pb-sm-1 ftco-animate">
            <div class="nav ftco-animate nav-pills justify-content-center text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-nextgen-tab" data-toggle="pill" href="#v-task-new" role="tab" aria-controls="v-pills-nextgen" aria-selected="true">Новые</a>

              <a class="nav-link" id="v-pills-performance-tab" data-toggle="pill" href="#v-task-in_work" role="tab" aria-controls="v-pills-performance" aria-selected="false">В работе</a>

              <a class="nav-link" id="v-pills-effect-tab" data-toggle="pill" href="#v-task-finished" role="tab" aria-controls="v-pills-effect" aria-selected="false">Завершенные</a>
            </div>
          </div>
          <div class="col-md-12 align-items-center ftco-animate">
            <div class="tab-content ftco-animate" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-task-new" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                  <div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="table-responsive">
	    				<table class="table">
						    <thead class="thead-primary">
						     <tr>
						        <th>Задача</th>
						        <th>Ученики</th>
                                <th>Описание</th>
                                <th>Приоритет</th>
                                <th>Ответственный</th>
                                <th>Срок выполнения</th>
						      </tr>
						    </thead>
						    <tbody>
                            {% for task in task_list %}
                                {% if task.status == "NEW" %}
                                <tr>
                                   <td class="color">{{ task.title }}</td>
                                    <td>
                                    {% for student in task.students.all %}
                                        {{ student }};
                                    {% endfor %}
                                    </td>
                                    <td>{{ task.description|safe }}</td>
                                    <td>{{ task.priority }}</td>
                                    <td>
                                    {% for executor in task.executor.all %}
                                        {{ executor }}
                                    {% endfor %}
                                    </td>
                                    <td>{{ task.date_finish }}</td>
                                <td>
                                    <a class="btn btn-dark btn-sm" href="{% url 'edit_task' pk=task.pk %}"><span class="icon-pencil"></span></a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'remove_task' pk=task.pk %}"><span class="icon-remove"></span></a>
                                </td>
						      </tr>
                                {% endif %}
                        {% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
                  <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
            {% if task_list.has_other_pages %}
              <ul>
                  {% if task_list.has_previous %}
                    <li><a href="?page={{ task_list.previous_page_number }}">&lt;</a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
                  {% for i in task_list.paginator.page_range %}
                      {% if task_list.number > 3 and forloop.first %}
                        <li><a href="?page=1">1</a></li>
                        <li class="disabled">⋯</li>
                      {% endif %}
                    {% if task_list.number == i %}
                        <li class="active"><span>{{ i }}</span></li>
                    {% elif i > task_list.number|add:'-3' and i < task_list.number|add:'3' %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% if task_list.paginator.num_pages > task_list.number|add:'3' and forloop.last %}
                        <li class="disabled">⋯</li>
                        <li><a href="?page={{ task_list.paginator.num_pages }}">{{ task_list.paginator.num_pages }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if task_list.has_next %}
                    <li><a href="?page={{ task_list.next_page_number }}">></a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
              </ul>
            {% endif %}
            </div>
          </div>
        </div>
              </div>

              <div class="tab-pane fade" id="v-task-in_work" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                <div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="table-responsive">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr>
						        <th>Задача</th>
						        <th>Ученики</th>
                                <th>Описание</th>
                                <th>Приоритет</th>
                                <th>Ответственный</th>
                                <th>Срок выполнения</th>
						      </tr>
						    </thead>
						    <tbody>
                            {% for task in task_list %}
                                {% if task.status == "IN_WORK" %}
                                <tr>
                                    <td class="color">{{ task.title }}</td>
                                    <td>
                                    {% for student in task.students.all %}
                                        {{ student }};
                                    {% endfor %}
                                    </td>
                                    <td>{{ task.description|safe }}</td>
                                    <td>{{ task.priority }}</td>
                                    <td>
                                    {% for executor in task.executor.all %}
                                        {{ executor }}
                                    {% endfor %}
                                    </td>
                                    <td>{{ task.date_finish }}</td>
                                <td>
                                    <a class="btn btn-dark btn-sm" href="{% url 'edit_task' pk=task.pk %}"><span class="icon-pencil"></span></a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'remove_task' pk=task.pk %}"><span class="icon-remove"></span></a>
                                </td>
						      </tr>
                                {% endif %}
                        {% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
                  <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
            {% if all_profiles.has_other_pages %}
              <ul>
                  {% if all_profiles.has_previous %}
                    <li><a href="?page={{ all_profiles.previous_page_number }}">&lt;</a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
                  {% for i in all_profiles.paginator.page_range %}
                      {% if all_profiles.number > 3 and forloop.first %}
                        <li><a href="?page=1">1</a></li>
                        <li class="disabled">⋯</li>
                      {% endif %}
                    {% if all_profiles.number == i %}
                        <li class="active"><span>{{ i }}</span></li>
                    {% elif i > all_profiles.number|add:'-3' and i < all_profiles.number|add:'3' %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% if all_profiles.paginator.num_pages > lessons.number|add:'3' and forloop.last %}
                        <li class="disabled">⋯</li>
                        <li><a href="?page={{ all_profiles.paginator.num_pages }}">{{ all_profiles.paginator.num_pages }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if all_profiles.has_next %}
                    <li><a href="?page={{ all_profiles.next_page_number }}">></a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
              </ul>
            {% endif %}
            </div>
          </div>
        </div>
              </div>

              <div class="tab-pane fade" id="v-task-finished" role="tabpanel" aria-labelledby="v-pills-effect-tab">
                <div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="table-responsive">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr>
						        <th>Задача</th>
						        <th>Ученики</th>
                                <th>Описание</th>
                                <th>Приоритет</th>
                                <th>Ответственный</th>
                                <th>Срок выполнения</th>
						      </tr>
						    </thead>
						    <tbody>
                            {% for task in task_list %}
                                {% if task.status == "FINISHED" %}
                                <tr>
                                    <td class="color">{{ task.title }}</td>
                                    <td>
                                    {% for student in task.students.all %}
                                        {{ student }};
                                    {% endfor %}
                                    </td>
                                    <td>{{ task.description|safe }}</td>
                                    <td>{{ task.priority }}</td>
                                    <td>
                                    {% for executor in task.executor.all %}
                                        {{ executor }}
                                    {% endfor %}
                                    </td>
                                    <td>{{ task.date_finish }}</td>
                                <td>
                                    <a class="btn btn-dark btn-sm" href="{% url 'edit_task' pk=task.pk %}"><span class="icon-pencil"></span></a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'remove_task' pk=task.pk %}"><span class="icon-remove"></span></a>
                                </td>
						      </tr>
                                {% endif %}
                        {% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
                  <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
            {% if all_profiles.has_other_pages %}
              <ul>
                  {% if all_profiles.has_previous %}
                    <li><a href="?page={{ all_profiles.previous_page_number }}">&lt;</a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
                  {% for i in all_profiles.paginator.page_range %}
                      {% if all_profiles.number > 3 and forloop.first %}
                        <li><a href="?page=1">1</a></li>
                        <li class="disabled">⋯</li>
                      {% endif %}
                    {% if all_profiles.number == i %}
                        <li class="active"><span>{{ i }}</span></li>
                    {% elif i > all_profiles.number|add:'-3' and i < all_profiles.number|add:'3' %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% if all_profiles.paginator.num_pages > lessons.number|add:'3' and forloop.last %}
                        <li class="disabled">⋯</li>
                        <li><a href="?page={{ all_profiles.paginator.num_pages }}">{{ all_profiles.paginator.num_pages }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if all_profiles.has_next %}
                    <li><a href="?page={{ all_profiles.next_page_number }}">></a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
              </ul>
            {% endif %}
            </div>
          </div>
        </div>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>



        <section class="ftco-section">
    	<div class="container">
    		<div class="row mt-5">
          <div class="col-md-7 text-left heading-section ftco-animate">
            <h2 class="">Все задачи <a class="btn btn-danger btn-sm" href="{% url 'new_task' %}">Добавить</a></h2>

          </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="filterType">Предмет</label>
                <select onchange="filterParams()" class="custom-select" id="filterSubject">
                {% for subject in subjects %}
                    <option value="{{ subject }}" {% if request.GET.subject|slugify == subject|slugify %} selected {% endif %}>{{ subject }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="filterFinished">Состояние</label>
                <select onchange="filterParams()" class="custom-select" id="filterFinished">
                    <option value="False" {% if request.GET.status == "Лид" %} selected {% endif %}>Лид</option>
                    <option value="True" {% if request.GET.finished == "True" %} selected {% endif %}>Активный студент</option>
                    <option value="True" {% if request.GET.finished == "True" %} selected {% endif %}>Архив</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="filterTeacher">Ответственный менеджер</label>
                <select onchange="filterParams()" class="custom-select" id="filterTeacher">
                    <option value="id_1" selected>Квасов Артем</option>
                    <option value="id_2">Завершенные</option>
                </select>
            </div>
        </div>
    	<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="table-responsive">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr>
						        <th>Урок</th>
						        <th>Номер урока</th>
                                <th>Комментарий</th>
						      </tr>
						    </thead>
						    <tbody>
                            {% for task in task_list %}
                                <tr>
                                    <td class="color">{{ task.title }}</td>
                                    <td>{{ task.status }}</td>
                                    <td></td>
                                <td><input type="text" value="{{ task.description }}"></td>
                                <td>
                                    <a class="btn btn-dark btn-sm" href="{% url 'edit_task' pk=task.pk %}"><span class="icon-pencil"></span></a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'remove_task' pk=task.pk %}"><span class="icon-remove"></span></a>
                                </td>
						      </tr>
                        {% endfor %}
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
            {% if all_profiles.has_other_pages %}
              <ul>
                  {% if all_profiles.has_previous %}
                    <li><a href="?page={{ all_profiles.previous_page_number }}">&lt;</a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
                  {% for i in all_profiles.paginator.page_range %}
                      {% if all_profiles.number > 3 and forloop.first %}
                        <li><a href="?page=1">1</a></li>
                        <li class="disabled">⋯</li>
                      {% endif %}
                    {% if all_profiles.number == i %}
                        <li class="active"><span>{{ i }}</span></li>
                    {% elif i > all_profiles.number|add:'-3' and i < all_profiles.number|add:'3' %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% if all_profiles.paginator.num_pages > lessons.number|add:'3' and forloop.last %}
                        <li class="disabled">⋯</li>
                        <li><a href="?page={{ all_profiles.paginator.num_pages }}">{{ all_profiles.paginator.num_pages }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if all_profiles.has_next %}
                    <li><a href="?page={{ all_profiles.next_page_number }}">></a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
              </ul>
            {% endif %}
            </div>
          </div>
        </div>
    	</div>
    </section>



<script>
function filterParams() {
    subject = document.getElementById("filterSubject").value;

    var url = new URL(window.location.href);
    url.searchParams.set('subject', subject);

    window.location.replace(url);

}
</script>

{% endblock %}