{% extends 'base/base.html' %}
{% load static %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - кружки Робототехники, Программирования и Химии детям{% endblock title %}

{% block tags %}
<meta name="description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
<meta name="keywords"
    content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
<meta name="author" content="dobriy_zhuk" />
<meta property="og:title"
    content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей" />
<meta property="og:description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей" />
<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}

    <div class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-8 ftco-animate text-center text-md-left mb-5">
          	<p class="breadcrumbs mb-0"><span class="mr-3"><a href="{% url 'blog' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog</span></p>
            <h1 class="mb-3 bread">Blog</h1>

          </div>
        </div>
      </div>
    </div>

        <div class="post">
            <h1><a href=""></a></h1>
            <p>{{ post.text }}</p>
        <h1><a href="">{{ post.title }}</a></h1>

        </div>


    <section class="ftco-section bg-light">
      <div class="container">
      <div class="row text-right">
           <a class="btn btn-danger btn-sm" href="{% url 'new_post' %}">Добавить</a>
      </div>
        <div class="row">
            {% for post in posts %}
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="{% url 'post_detail' pk=post.pk %}" class="block-20" style="background-image: url({% static 'images/image_1.jpg' %});">
              </a>
              <div class="text d-flex py-4">
                <div class="meta mb-3">
                  <div><a href="{% url 'post_detail' pk=post.pk %}">May 8, 2019</a></div>
                  <div><a href="{% url 'post_detail' pk=post.pk %}">Admin</a></div>
                  <div><a href="{% url 'post_detail' pk=post.pk %}" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <div class="desc pl-3">
	                <h3 class="heading"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                    <p>
                        <a class="btn btn-dark btn-sm" href="{% url 'edit_post' pk=post.pk %}"><span class="icon-pencil"></span></a>
                        <a class="btn btn-danger btn-sm" href="{% url 'remove_post' pk=post.pk %}"><span class="icon-remove"></span></a>
                    </p>
	              </div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
            {% if posts.has_other_pages %}
              <ul>
                  {% if posts.has_previous %}
                    <li><a href="?page={{ posts.previous_page_number }}">&lt;</a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
                  {% for i in posts.paginator.page_range %}
                      {% if posts.number > 3 and forloop.first %}
                        <li><a href="?page=1">1</a></li>
                        <li class="disabled">⋯</li>
                      {% endif %}
                    {% if posts.number == i %}
                        <li class="active"><span>{{ i }}</span></li>
                    {% elif i > posts.number|add:'-3' and i < posts.number|add:'3' %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% if posts.paginator.num_pages > posts.number|add:'3' and forloop.last %}
                        <li class="disabled">⋯</li>
                        <li><a href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if posts.has_next %}
                    <li><a href="?page={{ posts.next_page_number }}">></a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
              </ul>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}
