{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ this_page.title }}{% endblock title %}

{% block tags %}
<meta name="description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
<meta name="keywords"
    content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
<meta name="author" content="dobriy_zhuk" />
<meta property="og:title"
    content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей" />
<meta property="og:description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей" />
<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}

    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div class="container-fluid px-0">
      	<div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
	      	<img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="{% static 'images/undraw_pair_programming_njlp.svg' %}" alt="">
	        <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
	        	<div class="text mt-5">
	        		<span class="subheading">Гарантия Знаний</span>
	            <h1 class="mb-3"><span>Научим вашего ребенка создавать игры!</span></h1>
	            <p>Всего за 16 занятий ваш ребенок научится создавать мобильные приложения и анимационные игры!</p>
	            <p><a href="{% url 'contact' %}#school-contacts" class="btn btn-primary px-4 py-3">Бесплатный урок</a></p>
	          </div>
	        </div>
	    	</div>
      </div>
    </div>

    <section class="ftco-section services-section bg-light">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">{{ this_page.h2 }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex align-items-center">
            	<div class="icon d-flex align-items-center justify-content-center order-md-last">
            		<span class="flaticon-cloud"></span>
            	</div>
              <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                <h3 class="heading">Вводный урок</h3>
                <p class="mb-0">Занятия начинаются с бесплатного вводного урока. На этом занятии ребенок создаст свою первую игру, а мы создадим для него план занятий!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex align-items-center">
            	<div class="icon d-flex align-items-center justify-content-center">
            		<span class="flaticon-server"></span>
            	</div>
              <div class="media-body pl-4">
                <h3 class="heading">Индивидуальный подход</h3>
                <p class="mb-0">Мы корректируем программу занятий в зависимости от успехов ребенка и формируем индивидуальный план обучения!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex align-items-center">
            	<div class="icon d-flex align-items-center justify-content-center order-md-last">
            		<span class="flaticon-customer-service"></span>
            	</div>
              <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                <h3 class="heading">Контроль прогресса</h3>
                <p>Мы ежемесячно даем обратную связь по успехам ребенка. Тем самым вы всегда будете знать насколько полезны наши уроки</p>
              </div>
            </div>
          </div>
					<div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex align-items-center">
            	<div class="icon d-flex align-items-center justify-content-center">
            		<span class="flaticon-life-insurance"></span>
            	</div>
              <div class="media-body pl-4">
                <h3 class="heading">Удобная платформа</h3>
                <p>Все записи занятий хранятся в личном кабинете. Мы мотивируем ребенка к обучению и дарим подарки за его достижения!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex align-items-center">
            	<div class="icon d-flex align-items-center justify-content-center order-md-last">
            		<span class="flaticon-cloud-computing"></span>
            	</div>
              <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                <h3 class="heading">Практические уроки</h3>
                <p>Каждый урок - это отдельный небольшой проект. Мы создаем интерактивные и насыщенные уроки с большим количеством практики</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex align-items-center">
            	<div class="icon d-flex align-items-center justify-content-center">
            		<span class="flaticon-settings"></span>
            	</div>
              <div class="media-body pl-4">
                <h3 class="heading">Режим занятий</h3>
                <p>Длительность одного урока - 60 минут. Занятия проходят один раз в неделю. Полный курс рассчитан на 8 модулей по 16 занятий</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     <section class="ftco-section ">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-5">
    			<div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Школа программирования</span>
            <h2 class="mb-4">Чему мы учим?</h2>
          </div>
    		</div>
    		<div class="row">
          <div class="col-md-12 nav-link-wrap mb-5 pb-md-5 pb-sm-1 ftco-animate">
            <div class="nav ftco-animate nav-pills justify-content-center text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-nextgen-tab" data-toggle="pill" href="#v-pills-nextgen" role="tab" aria-controls="v-pills-nextgen" aria-selected="true">Scratch для детей</a>

              <a class="nav-link" id="v-pills-performance-tab" data-toggle="pill" href="#v-pills-performance" role="tab" aria-controls="v-pills-performance" aria-selected="false">Android-программирование</a>

              <a class="nav-link" id="v-pills-effect-tab" data-toggle="pill" href="#v-pills-effect" role="tab" aria-controls="v-pills-effect" aria-selected="false">Python</a>
            </div>
          </div>
          <div class="col-md-12 align-items-center ftco-animate">
            <div class="tab-content ftco-animate" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-nextgen" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
              	<div class="d-md-flex">
	              	<div class="one-forth align-self-center">
	              		<img src="{% static 'images/scratch.png' %}" class="img-fluid" alt="">
	              	</div>
	              	<div class="one-half ml-md-5 align-self-center">
		                <h2 class="mb-4">Scratch для детей (6-10 лет)</h2>
		              	<p>Ученики будут изучать увлекательный и мощный язык программирования - Scratch, который был разработан ведущим Мировым университетом M.I.T. и помогает детям осваивать основы математики и логики.</p>
		                <p>В модуле большое внимание уделяется логике, ребята создают простые программы: калькулятор, лабиринт и даже ping pong.</p>
		                <p><strong>Стоимость</strong>: от 800руб/урок</p>
		                <p><a href="{% url 'contact' %}" class="btn btn-primary py-3">Узнать подробности</a></p>
		              </div>
	              </div>
              </div>

              <div class="tab-pane fade" id="v-pills-performance" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                <div class="d-md-flex">
	              	<div class="one-forth order-last align-self-center">
	              		<img src="{% static 'images/android.png' %}" class="img-fluid" alt="">
	              	</div>
	              	<div class="one-half order-first mr-md-5 align-self-center">
		                <h2 class="mb-4">Android-програмирование (8-14 лет)</h2>
		              	<p>Ребята при помощи специальной платформы будут создавать игры и мобильные приложения для телефона. Дети будут создавать игры, приложение "калькулятор" и даже морской бой!</p>
		                <p>В модуле большое внимание уделяется разработке реальных приложений. Будут устанавливать игры на Android и публиковать свои разработки в Google Play.</p>
		                <p><strong>Стоимость</strong>: от 900руб/урок</p>
		                <p><a href="{% url 'contact' %}" class="btn btn-primary py-3">Узнать подробности</a></p>
		              </div>
	              </div>
              </div>

              <div class="tab-pane fade" id="v-pills-effect" role="tabpanel" aria-labelledby="v-pills-effect-tab">
                <div class="d-md-flex">
	              	<div class="one-forth align-self-center">
	              		<img src="{% static 'images/python.png' %}" class="img-fluid" alt="">
	              	</div>
	              	<div class="one-half ml-md-5 align-self-center">
		                <h2 class="mb-4">Python для будущих программистов<br>(12-17 лет)</h2>
		              	<p>На этом модуле ребенок изучит основы программирования на языке высокого уровня. Освоит основные алгоритмы и даже создаст графическое приложение для компьютера. </p>
		                <p>В модуле большое внимание уделяется логике, математике и развитию алгоритмического мышления</p>
                        <p><strong>Стоимость</strong>: от 900руб/урок</p>
		                <p><a href="{% url 'contact' %}" class="btn btn-primary py-3">Узнать подробности</a></p>
		              </div>
	              </div>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Наши клиенты</span>
            <h3 class="mb-4">Отзывы о школе программирования</h3>
            <p>Образование - это все! Будущее ребенка зависит от качества образования и любви к учебе. Мы даем детям возможность развивать свои таланты и становиться успешнее!</p>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap p-4 text-center">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/testimonial_coding_1.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4">Занимались на курсах программирования на протяжении года в Гарантии Знаний. Ребенок был в восторге от занятий, уроки для него пролетали незаметно.</p>
                    <p class="name">Юлия</p>
                    <span class="position">Мама Платона</span>
                  </div>
                </div>
              </div>
                <div class="item">
                <div class="testimony-wrap p-4 text-center">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/testimonial_coding_2.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4">Хочу поделиться впечатлениями!! Мой " ершистый" сынок после первого урока вставал раньше будильника, чтоб не опоздать на занятия! Спасибо за чуткое отношение к детям! </p>
                    <p class="name">Мария</p>
                    <span class="position">Мама Вани</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 text-center">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/testimonial_coding_3.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4">Замечательные курсы! Ребенок (девочка)захотел программировать. Нас очень пугало, что такой предмет и для девочки. Но опасения были напрасны... Занятия нравятся!
                    </p>
                    <p class="name">Ирина</p>
                    <span class="position">Мама Алины</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Domain Pricing</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12 ftco-animate text-center">
    				<iframe src="https://vk.com/video_ext.php?oid=-48330870&id=456239054&hash=f195934eea000e95&hd=1" width="640" height="360" frameborder="0" allowfullscreen></iframe>
    			</div>
    		</div>
    	</div>
    </section>


{% endblock %}

{% block javascript %}

    <script>

     function CheckForm() {
            $("#email").next(".error").remove();
            $("#phone").next(".error").remove();
            $("#name").next(".error").remove();

            if ($('#name').val() == "")
            {
                $('#name').after('<div class="error" style="color: darkred">Введите имя</div>');
                return false;
            }
            else if ($('#email').val() == "")
            {
                $('#email').after('<div class="error" style="color: darkred">Введите Email</div>');
                return false;
            }
            else if ($('#phone').val() == "")
            {
                $('#phone').after('<div class="error" style="color: darkred">Введите номер телефона</div>');
                return false;
            }
            else return true; // Если все обязательные поля заполнены - возвращаем true
        }


    function contact(){
    $.ajax({
        type:'POST',
        url:'{% url "contact" %}',
        data:{
            name: $('#name').val(),
            email: $('#email').val(),
            phone: $('#phone').val(),
            subject: $('#subject').val(),
            place: $('#place').val(),
            comment:$('#comment').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){
            $('#contact-form').trigger( 'reset' );
            document.getElementById('result_div_id').innerHTML = "<div class=\"alert alert-success\">" + json.result + "</div>";
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
}
</script>

{% endblock %}