{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ this_page.title }}{% endblock title %}

{% block tags %}
<meta name="description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
<meta name="keywords"
    content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
<meta name="author" content="dobriy_zhuk" />
<meta property="og:title"
    content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей" />
<meta property="og:description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей" />
<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}

    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div class="container-fluid px-0">
      	<div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
	      	<img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="{% static 'images/undraw_pair_programming_njlp.svg' %}" alt="">
	        <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
	        	<div class="text mt-5">
	        		<span class="subheading">Гарантия Знаний</span>
	            <h1 class="mb-3"><span>Подготовка ЕГЭ и ОГЭ с гарантией результата</span></h1>
	            <p>Всего за 10 занятий ваш ребенок улучшит свою успеваемость в 2 раза!</p>
	            <p><a href="{% url 'contact' %}#school-contacts" class="btn btn-primary px-4 py-3">Записаться на консультацию</a></p>
	          </div>
	        </div>
	    	</div>
      </div>
    </div>


    <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-5">
    			<div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Подготовка к экзаменам</span>
            <h2 class="mb-4">Наши курсы ЕГЭ и ОГЭ</h2>
                </div>
    		</div>
    		<div class="row">
          <div class="col-md-12 nav-link-wrap mb-5 pb-md-5 pb-sm-1 ftco-animate">
            <div class="nav ftco-animate nav-pills justify-content-center text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-nextgen-tab" data-toggle="pill" href="#v-math" role="tab" aria-controls="v-pills-nextgen" aria-selected="true">Математика</a>
              <a class="nav-link" id="v-pills-performance-tab" data-toggle="pill" href="#v-russian" role="tab" aria-controls="v-pills-performance" aria-selected="false">Русский язык</a>
              <a class="nav-link" id="v-pills-effect-tab" data-toggle="pill" href="#v-informatics" role="tab" aria-controls="v-pills-effect" aria-selected="false">Информатика</a>
                <a class="nav-link" id="v-pills-effect-tab" data-toggle="pill" href="#v-physics" role="tab" aria-controls="v-pills-effect" aria-selected="false">Физика</a>
                <a class="nav-link" id="v-pills-effect-tab" data-toggle="pill" href="#v-society" role="tab" aria-controls="v-pills-effect" aria-selected="false">Обществознание</a>
            </div>
          </div>
          <div class="col-md-12 align-items-center ftco-animate">
            <div class="tab-content ftco-animate" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-math" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
              	<div class="d-md-flex">
	              	<div class="one-forth align-self-center">
	              		<img src="{% static 'images/math.jpg' %}" class="img-fluid" alt="">
	              	</div>
	              	<div class="one-half ml-md-5 align-self-center">
		                <h2 class="mb-4">Подготовительные курсы ЕГЭ и ОГЭ по Математике</h2>
		              	<p>Считаете экзамен по Математике одним из самых сложных? Может, ваш ребенок хочет стать инженером,
                            и ему обязательно надо сдавать Математику в качестве основного вступительного экзаменов в ВУЗ?
                            Тогда записывайте его к нам на курсы по дготовки к ЕГЭ и ОГЭ по математике!
                            На занятиях дети смогут узнать много нового и полезного для сдачи экзамена.</p>
		                    <p><strong>Стоимость</strong>: от 700руб/урок</p>
		                <p><a href="{% url 'contact' %}" class="btn btn-primary py-3">Узнать подробности</a></p>
		              </div>
	              </div>
              </div>

              <div class="tab-pane fade" id="v-russian" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                <div class="d-md-flex">
	              	<div class="one-forth order-last align-self-center">
	              		<img src="{% static 'images/russian.jpg' %}" class="img-fluid" alt="">
	              	</div>
	              	<div class="one-half order-first mr-md-5 align-self-center">
		                <h2 class="mb-4">Подготовительные курсы ЕГЭ и ОГЭ по Русскому языку</h2>
		              	<p>Занятия подготовки к ЕГЭ и ОГЭ по русскому языку наполнены большим количеством интерактива.
                            Дети будут развивать мышление и память, учиться грамотно писать, говорить и стараться подготовиться к экзамену
                            на максимальный балл. Мы помогаем детям осваивать столь непростой предмет и делаем так, чтобы Русский язык
                            становился любимым увлечением всех школьников!</p>
		                <p><strong>Стоимость</strong>: от 900руб/урок</p>
		                <p><a href="{% url 'contact' %}" class="btn btn-primary py-3">Узнать подробности</a></p>
		              </div>
	              </div>
              </div>
                <div class="tab-pane fade" id="v-informatics" role="tabpanel" aria-labelledby="v-pills-effect-tab">
                <div class="d-md-flex">
	              	<div class="one-forth align-self-center">
	              		<img src="{% static 'images/informatics.jpg' %}" class="img-fluid" alt="">
	              	</div>
	              	<div class="one-half ml-md-5 align-self-center">
		                <h2 class="mb-4">Подготовительные курсы ЕГЭ и ОГЭ по Информатике</h2>
		              	<p>Занятия по информатике наполнены большим количеством интерактива,
                            ребята будут при помощи программирования изучать основы комбинаторики,
                            правила работы с изображениями и с табличными данными на компьютерах,
                            тем самым сразу же проверяя свои ответы к ЕГЭ или ОГЭ. Мы помогаем детям осваивать
                            столь непростой предмет и делаем так, чтобы информатика становилась любимым увлечением всех школьников!</p>
                        <p><strong>Стоимость</strong>: от 700руб/урок</p>
		                <p><a href="{% url 'contact' %}" class="btn btn-primary py-3">Узнать подробности</a></p>
		              </div>
	              </div>
              </div>

              <div class="tab-pane fade" id="v-physics" role="tabpanel" aria-labelledby="v-pills-effect-tab">
                <div class="d-md-flex">
	              	<div class="one-forth order-last align-self-center">
	              		<img src="{% static 'images/physics.jpg' %}" class="img-fluid" alt="">
	              	</div>
	              	<div class="one-half order-first mr-md-5 align-self-center">
		                <h2 class="mb-4">Подготовительные курсы ЕГЭ и ОГЭ по Физике</h2>
		              	<p>Курсы подготовки к ЕГЭ и ОГЭ по Физике наполнены большим количеством интерактива, дети будут на реальных опытах изучать распределение тока, измерять скорости предметов, переливать жидкости и работать с весами.
                            Мы помогаем детям осваивать столь непростой предмет и делаем так, чтобы физика становилась любимым увлечением всех школьников!</p>
		                <p><strong>Стоимость</strong>: от 700руб/урок</p>
		                <p><a href="{% url 'contact' %}" class="btn btn-primary py-3">Узнать подробности</a></p>
		              </div>
	              </div>
              </div>
                <div class="tab-pane fade" id="v-society" role="tabpanel" aria-labelledby="v-pills-effect-tab">
                <div class="d-md-flex">
	              	<div class="one-forth align-self-center">
	              		<img src="{% static 'images/sociology.jpg' %}" class="img-fluid" alt="">
	              	</div>
	              	<div class="one-half ml-md-5 align-self-center">
		                <h2 class="mb-4">Подготовительные курсы ЕГЭ и ОГЭ по Обществознанию</h2>
		              	<p>Хотите, чтобы ваш ребенок овладел знаниями обществознания и отлично чувствовал себя в гражданском обществе?
                            Вы пришли по верному адресу! Благодаря нашим курсам ребята смогут
                            разобраться в самых сложных и запутанных случаях, предлагаемых в экзаменах, и с легкостью освоят обществознание.</p>
                        <p><strong>Стоимость</strong>: от 900руб/урок</p>
		                <p><a href="{% url 'contact' %}" class="btn btn-primary py-3">Узнать подробности</a></p>
		              </div>
	              </div>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>



    <section class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
      	<div class="row align-items-center d-flex">
      		<div class="col-md-6">
      			<div class="heading-section heading-section-white ftco-animate">
      				<span class="subheading">Гарантия Знаний</span>
	            <h2 style="font-size: 30px;">Более 100 опытных специалистов!</h2>
	          </div>
      		</div>
      		<div class="col-md-3 ftco-animate">
      			<div class="price">
      				<span class="subheading">Занятия</span>
      				<h3>от 8$<span>/урок</span></h3>
      			</div>
      		</div>
      		<div class="col-md-3 ftco-animate">
      			<p class="mb-0"><a href="{% url 'contact' %}#school-contacts" class="btn btn-primary py-3 px-4">Получить консультацию</a></p>
      		</div>
      	</div>
      </div>
    </section>

     <section class="ftco-section services-section bg-light">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">{{ this_page.h2 }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex align-items-center">
            	<div class="icon d-flex align-items-center justify-content-center order-md-last">
            		<span class="flaticon-cloud"></span>
            	</div>
              <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                <h3 class="heading">Вводный урок</h3>
                <p class="mb-0">Занятия начинаются с бесплатного вводного урока. На этом занятии ребенок создаст свою первую игру, а мы создадим для него план занятий!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex align-items-center">
            	<div class="icon d-flex align-items-center justify-content-center">
            		<span class="flaticon-server"></span>
            	</div>
              <div class="media-body pl-4">
                <h3 class="heading">Индивидуальный подход</h3>
                <p class="mb-0">Мы корректируем программу занятий в зависимости от успехов ребенка и формируем индивидуальный план обучения!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex align-items-center">
            	<div class="icon d-flex align-items-center justify-content-center order-md-last">
            		<span class="flaticon-customer-service"></span>
            	</div>
              <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                <h3 class="heading">Контроль прогресса</h3>
                <p>Мы ежемесячно даем обратную связь по успехам ребенка. Тем самым вы всегда будете знать насколько полезны наши уроки</p>
              </div>
            </div>
          </div>
					<div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex align-items-center">
            	<div class="icon d-flex align-items-center justify-content-center">
            		<span class="flaticon-life-insurance"></span>
            	</div>
              <div class="media-body pl-4">
                <h3 class="heading">Удобная платформа</h3>
                <p>Все записи занятий хранятся в личном кабинете. Мы мотивируем ребенка к обучению и дарим подарки за его достижения!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex align-items-center">
            	<div class="icon d-flex align-items-center justify-content-center order-md-last">
            		<span class="flaticon-cloud-computing"></span>
            	</div>
              <div class="media-body pl-4 pl-md-0 pr-md-4 text-md-right">
                <h3 class="heading">Гарантия результата</h3>
                <p>Мы даем гарантию, что ребенок повысит свой уровень минимум на 30% от первоначального результата уже к 16 занятию!</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-flex align-items-center">
            	<div class="icon d-flex align-items-center justify-content-center">
            		<span class="flaticon-settings"></span>
            	</div>
              <div class="media-body pl-4">
                <h3 class="heading">Высокий уровень</h3>
                <p>Наши педагоги ежегодно сдают ЕГЭ и ОГЭ и прекрасно знают все тонкости экзамена!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Наши клиенты</span>
            <h3 class="mb-4">Отзывы о школе Гарантия Знаний</h3>
            <p>Образование - это все! Будущее ребенка зависит от качества образования и любви к учебе. Мы даем детям возможность развивать свои таланты и становиться успешнее!</p>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap p-4 text-center">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/testimonial_coding_1.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4">Занимались на курсах программирования на протяжении года в Гарантии Знаний. Ребенок был в восторге от занятий, уроки для него пролетали незаметно.</p>
                    <p class="name">Юлия</p>
                    <span class="position">Мама Платона</span>
                  </div>
                </div>
              </div>
                <div class="item">
                <div class="testimony-wrap p-4 text-center">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/testimonial_coding_2.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4">Хочу поделиться впечатлениями!! Мой " ершистый" сынок после первого урока вставал раньше будильника, чтоб не опоздать на занятия! Спасибо за чуткое отношение к детям! </p>
                    <p class="name">Мария</p>
                    <span class="position">Мама Вани</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 text-center">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/testimonial_coding_3.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-4">Замечательные курсы! Ребенок (девочка)захотел программировать. Нас очень пугало, что такой предмет и для девочки. Но опасения были напрасны... Занятия нравятся!
                    </p>
                    <p class="name">Ирина</p>
                    <span class="position">Мама Алины</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}

{% block javascript %}

    <script>

     function CheckForm() {
            $("#email").next(".error").remove();
            $("#phone").next(".error").remove();
            $("#name").next(".error").remove();

            if ($('#name').val() == "")
            {
                $('#name').after('<div class="error" style="color: darkred">Введите имя</div>');
                return false;
            }
            else if ($('#email').val() == "")
            {
                $('#email').after('<div class="error" style="color: darkred">Введите Email</div>');
                return false;
            }
            else if ($('#phone').val() == "")
            {
                $('#phone').after('<div class="error" style="color: darkred">Введите номер телефона</div>');
                return false;
            }
            else return true; // Если все обязательные поля заполнены - возвращаем true
        }


    function contact(){
    $.ajax({
        type:'POST',
        url:'{% url "contact" %}',
        data:{
            name: $('#name').val(),
            email: $('#email').val(),
            phone: $('#phone').val(),
            subject: $('#subject').val(),
            place: $('#place').val(),
            comment:$('#comment').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){
            $('#contact-form').trigger( 'reset' );
            document.getElementById('result_div_id').innerHTML = "<div class=\"alert alert-success\">" + json.result + "</div>";
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
}
</script>

{% endblock %}