{% extends 'base/base.html' %}
{% load static %}
{% block title %}ГАРАНТИЯ ЗНАНИЙ - кружки Робототехники, Программирования и Химии детям{% endblock title %}

{% block tags %}
<meta name="description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ" />
<meta name="keywords"
    content="гарантия знаний, программирование, курсы, робототехника, занятия, химия, английский, физика, математика, русский, французский, предпринимательство, финансы, моделирование, обществознание, егэ, огэ, экзамены, лагерь, детский" />
<meta name="author" content="dobriy_zhuk" />
<meta property="og:title"
    content="ГАРАНТИЯ ЗНАНИЙ - Робототехника, Программирование, Химия, а также курсы ЕГЭ и ОГЭ для детей" />
<meta property="og:description"
    content="ГАРАНТИЯ ЗНАНИЙ - Курсы дополнительного образования для детей и школьников по робототехнике, программированию, химии и подготовительные курсы егэ и огэ для детей" />
<meta property="og:image" content="http://garantylearning.com/images/slide_1.jpg" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://garantylearning.com/index.html" />
{% endblock %}

{% block content %}


     <section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Выберите сумму оплаты</h2>
          </div>
        </div>
    		<div class="row d-flex">
	        <div class="col-lg-3 col-md-6 ftco-animate">
	          <div class="block-7">
	            <form class="text-center" method="post" action="{% url 'payment' %}">
                    {% csrf_token %}
		            <h2 class="heading">Free</h2>
                    <span class="price"><sup>$</sup> <span class="number">1000<small class="per">/mo</small></span></span>
		            <span class="excerpt d-block">100% free. Forever</span>
		            <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

		            <ul class="pricing-text mb-4">
		              <li><strong>150 GB</strong> Bandwidth</li>
		              <li><strong>100 GB</strong> Storage</li>
		              <li><strong>$1.00 / GB</strong> Overages</li>
		              <li>All features</li>
		            </ul>
                    <input name="sum" value="10" hidden>
                        <button class="btn btn-block btn-primary d-block px-3 py-3 mb-4" type="submit">Выбрать</button>
	            </form>
	          </div>
	        </div>
	        <div class="col-lg-3 col-md-6 ftco-animate">
	          <div class="block-7">
	           <form class="text-center" method="post" action="{% url 'payment' %}">
                    {% csrf_token %}
		            <h2 class="heading">Free</h2>
                    <span class="price"><sup>$</sup> <span class="number">2000<small class="per">/mo</small></span></span>
		            <span class="excerpt d-block">100% free. Forever</span>
		            <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

		            <ul class="pricing-text mb-4">
		              <li><strong>150 GB</strong> Bandwidth</li>
		              <li><strong>100 GB</strong> Storage</li>
		              <li><strong>$1.00 / GB</strong> Overages</li>
		              <li>All features</li>
		            </ul>
                   <input name="sum" value="2000" hidden>
                        <button class="btn btn-block btn-primary d-block px-3 py-3 mb-4" type="submit">Выбрать</button>
	            </form>
	          </div>
	        </div>
	        <div class="col-lg-3 col-md-6 ftco-animate">
	          <div class="block-7">
	            <form class="text-center" method="post" action="{% url 'payment' %}">
                    {% csrf_token %}
		            <h2 class="heading">Free</h2>
                    <span class="price"><sup>$</sup> <span class="number">3000<small class="per">/mo</small></span></span>
		            <span class="excerpt d-block">100% free. Forever</span>
		            <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

		            <ul class="pricing-text mb-4">
		              <li><strong>150 GB</strong> Bandwidth</li>
		              <li><strong>100 GB</strong> Storage</li>
		              <li><strong>$1.00 / GB</strong> Overages</li>
		              <li>All features</li>
		            </ul>
                    <input name="sum" value="3000" hidden>
                        <button class="btn btn-block btn-primary d-block px-3 py-3 mb-4" type="submit">Выбрать</button>
	            </form>
	          </div>
	        </div>
	        <div class="col-lg-3 col-md-6 ftco-animate">
	          <div class="block-7">
	            <form class="text-center" method="post" action="{% url 'payment' %}">
                    {% csrf_token %}
		            <h2 class="heading">Free</h2>
                    <span class="price"><sup>$</sup> <span class="number">4000<small class="per">/mo</small></span></span>
		            <span class="excerpt d-block">100% free. Forever</span>
		            <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

		            <ul class="pricing-text mb-4">
		              <li><strong>150 GB</strong> Bandwidth</li>
		              <li><strong>100 GB</strong> Storage</li>
		              <li><strong>$1.00 / GB</strong> Overages</li>
		              <li>All features</li>
		            </ul>
                    <input name="sum" value="4000" hidden>
                        <button class="btn btn-block btn-primary d-block px-3 py-3 mb-4" type="submit">Выбрать</button>
	            </form>
	          </div>
	        </div>
	      </div>
    	</div>
    </section>

    <script>
     function payment() {

                    $.ajax({
                        type:'POST',
                        url:'{% url "payment" %}',
                        data:{
                            amount: 100,
                            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success:function(json){
                            alert(json);
                        },
                        error: function(xhr,errmsg,err) {
                            alert("ERROR");
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                    });
     }


    </script>

{% endblock %}